/* Reset
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Variables
   ========================================================================== */

/* Primary */
$blue: hsl(246, 80%, 60%);
$light-red-a: hsl(15, 100%, 70%); /* Work */
$soft-blue: hsl(195, 74%, 62%); /* Play */
$light-red-b: hsl(348, 100%, 68%); /* Study */
$lime-green: hsl(145, 58%, 55%); /* Exercise */
$violet: hsl(264, 64%, 52%); /* Social */
$soft-orange: hsl(43, 84%, 65%); /* Self Care */

/* Neutral */
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$white: hsl(255,100%,100%);

$desktop: 940px;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $very-dark-blue;
  font-family: 'Rubik', sans-serif;
  color: $white;
}

.card-grid {
  display: grid;
  grid-template-columns: 325px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "menu" "work" "play" "study" "exercise" "social" "self-care"; 
  grid-column-gap: 22px;
  grid-row-gap: 22px;

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "menu work play study" "menu exercise social self-care";
  }
}

.img-container {
  margin-top: 20px;
  background: no-repeat 95% -2px;
  background-color: hsl(195, 74%, 62%);
  border-radius: 12px;
  min-height: 83px;
}

.info-container {
  margin-top: -28px;
  min-height: 130px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;

  background-color: $dark-blue;
  transition: background 0.25s 0s ease-in;

  &:hover {
    background-color: $desaturated-blue;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(2) {
      @media screen and (min-width: $desktop) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  .card-title {
    font-size: 18px;
    font-weight: 500;
  }

  .current-hrs {
    font-size: 32px;
    font-weight: 300;
  }

  .last-hrs {
    font-size: 15px;
    font-weight: 400;
    color: $pale-blue;
  }
}

.menu {
  grid-area: menu;

  .profile-container {
    background-color: $blue;
    
    .img-wrap {
      width: 85px;
      
      .profile-img {
        width: 100%;
        border: 3px solid #fff;
        border-radius: 100%;
      }
    }
  }
}

.work {
  grid-area: work;

  .img-container {
    background-color: $light-red-a;
    background-image: url('./assets/images/icon-work.svg');
  }
}

.play {
  grid-area: play;

  .img-container {
    background-color: $soft-blue;
    background-image: url('./assets/images/icon-play.svg');
  }
}

.study {
  grid-area: study;

  .img-container {
    background-color: $light-red-b;
    background-image: url('./assets/images/icon-study.svg');
  }
}

.exercise {
  grid-area: exercise;

  .img-container {
    background-color: $lime-green;
    background-image: url('./assets/images/icon-exercise.svg');
  }
}

.social {
  grid-area: social;

  .img-container {
    background-color: $violet;
    background-image: url('./assets/images/icon-social.svg');
  }
}

.self-care {
  grid-area: self-care;

  .img-container {
    background-color: $soft-orange;
    background-image: url('./assets/images/icon-self-care.svg');
  }
}


.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

