/* VARIABLES */
:root {
  /* Primary */
  --blue: hsl(246, 80%, 60%);
  --light-red-a: hsl(15, 100%, 70%); /* Work */
  --soft-blue: hsl(195, 74%, 62%); /* Play */
  --light-red-b: hsl(348, 100%, 68%); /* Study */
  --lime-green: hsl(145, 58%, 55%); /* Exercise */
  --violet: hsl(264, 64%, 52%); /* Social */
  --soft-orange: hsl(43, 84%, 65%); /* Self Care */

  /* Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

body {
  background-color: var(--very-dark-blue);
  color: white;
  font-family: 'Rubik', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



