/* Reset / Global
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: background 0.25s 0s ease-in;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,li {
  list-style: none;
}


/* Variables
   ========================================================================== */

/* Primary */
$blue: hsl(246, 80%, 60%); /* Menu */
$light-red-a: hsl(15, 100%, 70%); /* Work */
$soft-blue: hsl(195, 74%, 62%); /* Play */
$light-red-b: hsl(348, 100%, 68%); /* Study */
$lime-green: hsl(145, 58%, 55%); /* Exercise */
$violet: hsl(264, 64%, 52%); /* Social */
$soft-orange: hsl(43, 84%, 65%); /* Self Care */

/* Neutral */
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$white: hsl(255,100%,100%);

$desktop: 940px; /* Desktop Breakpoint */

/* Dashboard
   ========================================================================== */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $very-dark-blue;
  font-family: 'Rubik', sans-serif;
  color: $white;
}

.card-grid {
  display: grid;
  grid-template-columns: 325px;
  grid-template-rows: repeat(2, 200px);
  grid-template-areas: "menu" "work" "play" "study" "exercise" "social" "self-care"; 
  grid-column-gap: 22px;
  grid-row-gap: 22px;

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 200px);
    grid-template-areas: "menu work play study" "menu exercise social self-care";
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  background-repeat: no-repeat;
  background-position: 95% -2px;
  border-radius: 12px;

  &.work {
    grid-area: work;
    background-color: $light-red-a;
    background-image: url('./assets/images/icon-work.svg');
  }

  &.play {
    grid-area: play;
    background-color: $soft-blue;
    background-image: url('./assets/images/icon-play.svg');
  }

  &.study {
    grid-area: study;
    background-color: $light-red-b;
    background-image: url('./assets/images/icon-study.svg');
  }

  &.exercise {
    grid-area: exercise;
    background-color: $lime-green;
    background-image: url('./assets/images/icon-exercise.svg');
  }

  &.social {
    grid-area: social;
    background-color: $violet;
    background-image: url('./assets/images/icon-social.svg');
  }

  &.self-care {
    grid-area: self-care;
    background-color: $soft-orange;
    background-image: url('./assets/images/icon-self-care.svg');
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 130px;
  padding: 22px;
  border-radius: 12px;
  background-color: $dark-blue;

  &:hover {
    background-color: $desaturated-blue;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(2) {
      @media screen and (min-width: $desktop) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  .card-title {
    font-size: 18px;
    font-weight: 500;
  }

  .current-hrs {
    font-size: 32px;
    font-weight: 300;
  }

  .last-hrs {
    font-size: 15px;
    font-weight: 400;
    color: $pale-blue;
  }
}

.menu {
  grid-area: menu;

  .card-container {
    position: initial;
    background-color: $blue;

    .img-wrap {
      width: 85px;
      
      .profile-img {
        width: 100%;
        border: 3px solid #fff;
        border-radius: 100%;
      }
    }
  }
  .settings-container {
    .wrapper {
      display: flex;
      justify-content: space-evenly;
      padding: 22px;  
      
      li {
        display: inline-block;
        
        a {
          color: $desaturated-blue;

          &:active, &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

